.btn {
    margin-left: 5px;
}

/* Не изглежда особено добре, ще ми се всичко да е центрирано като хората, ама.. Размерите също могат да се поиграят, ако примерно всички карти са еднакви ще е супер*/
.card {
    max-width: 20%;
    min-width: 20%;
    min-height: 150px;
    float: left;
    text-align: center;
    display: inline-flexbox
}